@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');
*{
    padding: 0;
    margin: 0;
    list-style: none;
    font-family: 'Karla';
}

.attribution { 
    font-size: 11px; text-align: center; 
}
body{
    display: grid;
    place-items: center;
    height: 100vh;
    background-color: hsl(204, 43%, 93%);
}
.container{
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 400px;
    box-shadow: 0px 5px 5px 5px rgba(135, 135, 135, 0.205);
    border-radius: 10px;
    overflow: hidden;
}
.high{
    position: relative;
    width: 100%;
    height: 45%;
    background-color: white;

}

.high h1{
    position: absolute;
    left: 5%;
    top: 10%;
    font-size: 25px;
    color: hsl(179, 62%, 43%);
}

.high h3{
    position: absolute;
    left: 5%;
    top: 35%;
    color: hsl(71, 73%, 54%);
}

.high p{
    position: absolute;
    left: 5%;
    top: 55%;
    color: hsl(218, 22%, 67%);
}
.low{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 55%;

}
.first-zone{
    position: relative;
    width: 50%;
    height: 100%;
    background-color: hsl(179, 62%, 43%);
}

.first-zone h3{
    position: absolute;
    left: 10%;
    top: 10%;
    color: white;
}

.first-zone .price{
    position: absolute;
    left: 10%;
    top: 25%;
    color: white;
    font-size: 30px;
    font-weight: 700;
}

.first-zone .month{
    position: absolute;
    left: 35%;
    top: 28%;
    color: hsl(204, 43%, 93%);
}

.first-zone p{
    position: absolute;
    left: 10%;
    top: 45%;
    color: hsl(204, 43%, 93%);
}

.first-zone button{
    position: absolute;
    height: 50px;
    width: 250px;
    background-color:hsl(71, 73%, 54%) ;
    color: white;
    border-color: transparent;
    top: 65%;
    left: 10%;
    border-radius: 8px;
}

.second-zone{
    position: relative;
    width: 50%;
    height: 100%;
    background-color: hsl(179, 62%, 43%);
    opacity: 70%;
}

.second-zone h3{
    position: absolute;
    left: 10%;
    top: 10%;
    color: white;
}

.second-zone pre{
    position: absolute;
    left: -1%;
    top: 30%;
    color: hsl(204, 43%, 93%);
    justify-content: left;
    font-size: 15px;
    font-weight: 300;

}

@media screen and (max-width:635px) {
    .container{
        width: 95%;
    }

    .first-zone button{
        width: 225px;
    }

}

@media screen and (max-width:550px) {
    .container{
        width: 95%;
    }

    .first-zone button{
        width: 200px;
    }

    .first-zone p{
        font-size: 14px;
    }

    .first-zone .month{
        font-size: 14px;
    }

    .second-zone pre{
        left: -2%;
        font-size: 14px;
    }

    .first-zone p{
        font-size: 14px;
    }
}

@media screen and (max-width:425px) {
    .container{
        display: flex;
        flex-direction: column;
        width: 350px;
        height: 700px;
    }
    .high{
        width: 100%;
        height: 40%;
    }
    .high h1{
        position: absolute;
        left: 5%;
        top: 10%;
        font-size: 25px;
        color: hsl(179, 62%, 43%);
    }
    
    .high h3{
        position: absolute;
        left: 5%;
        top: 35%;
        color: hsl(71, 73%, 54%);

    }
    
    .high p{
        position: absolute;
        left: 5%;
        top: 55%;
        color: hsl(218, 22%, 67%);
        padding-right: 25px;
    }

    .low{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 60%;
    }
    .first-zone{
        width: 100%;
        height: 50%;
    }
    .first-zone h3{
        position: absolute;
        left: 10%;
        top: 10%;
        color: white;
    }
    
    .first-zone .price{
        position: absolute;
        left: 10%;
        top: 25%;
        color: white;
        font-size: 30px;
        font-weight: 700;
    }
    
    .first-zone .month{
        position: absolute;
        left: 35%;
        top: 28%;
        color: hsl(204, 43%, 93%);
    }
    
    .first-zone p{
        position: absolute;
        left: 10%;
        top: 45%;
        color: hsl(204, 43%, 93%);

    }
    
    .first-zone button{
        position: absolute;
        height: 50px;
        width: 300px;
        background-color:hsl(71, 73%, 54%) ;
        color: white;
        border-color: transparent;
        top: 65%;
        left: 10%;
        border-radius: 8px;
    }
    .second-zone{
        width: 100%;
        height: 50%;
    }
    .second-zone h3{
        position: absolute;
        left: 10%;
        top: 10%;
        color: white;
    }
    .second-zone pre{
        position: absolute;
        left: 2%;
        top: 30%;
        color: hsl(204, 43%, 93%);
        justify-content: left;
        font-size: 15px;
        font-weight: 300;
    
    }
}

.attribution a {
    color: hsl(228, 45%, 44%); 
}